In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
file="C:/Users/ProBook/Downloads/supermarket_sales - Sheet1.csv"

In [5]:
super_data = pd.read_csv(file)
super_data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-19,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,03-08-19,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-19,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-19,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [6]:
super_data.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [7]:
df=super_data.rename({'Invoice ID':'invoice_id', 'Customer type':'customer_type',
       'Product line':'product_line', 'Unit price':'unit_price','Tax 5%':'tax_5%',
       'gross margin percentage':'gross_margin_percentage', 'gross income':'gross_income',
       },axis="columns")

In [8]:
df

,invoice_id,Branch,City,customer_type,Gender,product_line,unit_price,Quantity,tax_5%,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-19,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,03-08-19,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-19,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-19,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,03-02-19,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,02-09-19,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [9]:
#between male and female,who uses more health and beauty products
#between male and female who uses home/lifestyle products
#in the c ity of mandalay,how much quantity of food and beverages was consumed between january to september
#which is the most used mode of payment for sport and travel items in yagon
#in yagoon which mode of payment is mostly preferred and which sex prefers it the most

In [10]:
df['Date']=pd.to_datetime(df['Date'])

In [11]:
df['day']=df['Date'].dt.day
df['month']=df['Date'].dt.month
df['year']=df['Date'].dt.year
df.head()

,invoice_id,Branch,City,customer_type,Gender,product_line,unit_price,Quantity,tax_5%,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_income,Rating,day,month,year
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08,Ewallet,522.83,4.761905,26.1415,9.1,5,1,2019
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29,Cash,76.40,4.761905,3.8200,9.6,8,3,2019
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23,Credit card,324.31,4.761905,16.2155,7.4,3,3,2019
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33,Ewallet,465.76,4.761905,23.2880,8.4,27,1,2019
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37,Ewallet,604.17,4.761905,30.2085,5.3,8,2,2019

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
invoice_id                 1000 non-null object
Branch                     1000 non-null object
City                       1000 non-null object
customer_type              1000 non-null object
Gender                     1000 non-null object
product_line               1000 non-null object
unit_price                 1000 non-null float64
Quantity                   1000 non-null int64
tax_5%                     1000 non-null float64
Total                      1000 non-null float64
Date                       1000 non-null datetime64[ns]
Time                       1000 non-null object
Payment                    1000 non-null object
cogs                       1000 non-null float64
gross_margin_percentage    1000 non-null float64
gross_income               1000 non-null float64
Rating                     1000 non-null float64
day                        1000 non-null int64
month                      1000 non-null int64
year                       1000 non-null int64
dtypes: datetime64[ns](1), float64(7), int64(4), object(8)
memory usage: 156.4+ KB

In [14]:
df.head(10)

,invoice_id,Branch,City,customer_type,Gender,product_line,unit_price,Quantity,tax_5%,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_income,Rating,day,month,year
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08,Ewallet,522.83,4.761905,26.1415,9.1,5,1,2019
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29,Cash,76.40,4.761905,3.8200,9.6,8,3,2019
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23,Credit card,324.31,4.761905,16.2155,7.4,3,3,2019
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33,Ewallet,465.76,4.761905,23.2880,8.4,27,1,2019
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37,Ewallet,604.17,4.761905,30.2085,5.3,8,2,2019
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,2019-03-25,18:30,Ewallet,597.73,4.761905,29.8865,4.1,25,3,2019
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2019-02-25,14:36,Ewallet,413.04,4.761905,20.6520,5.8,25,2,2019
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2019-02-24,11:38,Ewallet,735.60,4.761905,36.7800,8.0,24,2,2019
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,2019-01-10,17:15,Credit card,72.52,4.761905,3.6260,7.2,10,1,2019
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2019-02-20,13:27,Credit card,164.52,4.761905,8.2260,5.9,20,2,2019

In [15]:
#between male and female who uses home/lifestyle products
super_productline2=df[(df.product_line=="Home and lifestyle")]
super_homeandlifestyle = super_productline2.groupby("Gender")["Quantity"].sum().sort_values(ascending=False)
super_homeandlifestyle

Gender
Female    498
Male      413
Name: Quantity, dtype: int64

In [16]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'customer_type', 'Gender',
       'product_line', 'unit_price', 'Quantity', 'tax_5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'Rating', 'day', 'month', 'year'],
      dtype='object')

In [17]:
#in the city of mandalay,how much quantity of food and beverages was consumed between january to september

super_mandalay=df[(df.City=='Mandalay')]
super_mandalay.head()
super_mandalay2=super_mandalay[(super_mandalay.month==1)|(super_mandalay.month==2)|(super_mandalay.month==3)|(super_mandalay.month==4)|(super_mandalay.month==5)|(super_mandalay.month==6)|(super_mandalay.month==7)|(super_mandalay.month==8)|(super_mandalay.month==9)]

In [18]:
super_foodbeverages=super_mandalay2[(super_mandalay2.product_line=="Food and beverages")]
super_foodbeverages["Quantity"].sum()

270

In [19]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'customer_type', 'Gender',
       'product_line', 'unit_price', 'Quantity', 'tax_5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'Rating', 'day', 'month', 'year'],
      dtype='object')

In [20]:
#which is the most used mode of payment for sport and travel items in yangon
super_payment_yagon=df[(df.City=="Yangon")&(df.product_line=="Sports and travel")]
super_payment_yagon.groupby("Payment")["Quantity"].sum().sort_values(ascending=False)

Payment
Ewallet        119
Cash           112
Credit card    102
Name: Quantity, dtype: int64

In [25]:
#in yagoon which mode of payment is mostly preferred and which sex prefers it the most
super_yangon=df[(df.City=="Yangon")]
#m = df.groupby("Major_category")["Major"].value_counts().sort_values(ascending=False)
s=super_yangon.groupby("Gender")["Payment"].value_counts.sort_values(ascending=False)
s

AttributeError: 'function' object has no attribute 'sort_values'